{% extends "main/layout.html" %}

{% block body %}

<div class="info_box">
       <h1>Enter Your Info</h1>
              
              <form action="{% url 'main:create' %}" method="post">
              {% csrf_token %}
              {{forms }}
              <br>
              {{ some_string }}
              <br>
              <label for="currencies">choose a currency</label>
              <select name="currencies" id="currencies">
                     <option value="usd">USD</option>
                     <option value="LBP">LBP</option>
                     <option value="EUR">EUR</option>
              </select>
             
       <p><input type="submit" value="Create">
              <!-- <button class="create" onclick="window.location.href='tables';">create</button> -->
       </p> 
              </form>
</div>
       
{% endblock %}