{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" href="{% static 'main/styles.css' %}" >
        <title>
            XpenseTracker
        </title>
        
    </head>
    <body>
        
        <div class="topnav">
            
            <a class="active" href="./">Main</a>
            <a href="create">Info</a>
            <a href="tables">Table</a>
            <a href="add">Transaction</a>
            <a href="Summary">Summary</a>
            
          </div>
        {% block body %}
        
        {% endblock %}
    </body>
</html>