{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" href="{% static 'main/styles.css' %}" >
        <title>
            XpenseTracker
        </title>
        
    </head>
    <body>
        
        <div class="topnav">
            
            <a class="active" href="home">Main</a>
            <a href="tables">Tables</a>
            <a href="add">Transactions</a>
            <a href="#Summary">Summary</a>
            
          </div>
        {% block body %}
        
        {% endblock %}
    </body>
</html>